.profile-img {
  width: 35px; /* 원하는 크기로 설정 */
  height: 35px; /* 원하는 크기로 설정 */
  border-radius: 50%; /* 원형으로 만들기 위해 반지름을 이미지의 절반으로 설정 */
  object-fit: cover; /* 이미지 비율을 유지하며 잘리더라도 전체를 채움 */
  margin: 8px 8px 8px 0px; /* 이미지 간의 간격을 주기 위해 설정 */
}

.credit-type {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 8px;
}
